<!DOCTYPE html>
<html lang="fr-Fr">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jQuery-ui.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ggteamforum/css/style.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ggteamforum/css/style_forum_admin.css') }}" media="screen" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="container-fluid" style="background-color: #eee">
<div class="row">
    <div class="col-md-8 col-md-offset-2" style="background-color: #fff">
        {% include "GGTeamBackBundle:Templates:header.html.twig" %}
        <div class="alert alert-success hidden"></div>
        <div class="alert alert-info hidden"></div>
        <div class="alert alert-danger hidden"></div>
        {% block content %}{% endblock %}
    </div>
</div>
<script type="text/javascript" src="{{ asset("bundles/fosjsrouting/js/router.js") }}"></script>
<script type="text/javascript" src="{{ path("fos_js_routing_js", {"callback":"fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset("js/jQuery.js") }}"></script>
<script type="text/javascript" src="{{ asset("js/jQuery-ui.js") }}"></script>
{{ tinymce_init() }}
<script type="text/javascript" src="{{ asset("js/jQuery.sortable.js") }}"></script>
<script type="text/javascript" src="{{ asset("bundles/ggteamforum/js/global.js") }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
