{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h4>Informations Lien</h4>

            <div>{% trans %}global.lien{% endtrans %} : <a href='{{ path("shorty_redirect", {slug:url.slug}) }}' target="_blank">{{ url.lien }}</a>
            </div>
            <div>{% trans %}global.slug{% endtrans %} : {{ url.slug }}</div>
        </div>
        <div class="col-md-8">
            <h4>Les Derniers 10 Cliques</h4>
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Date</th>
                    <th>Provenance</th>
                </tr>
                {% for click in url.clicks|slice(0,10) %}
                    <tr>
                        <td>{{ click.time|date("H:i:s d/m/Y") }}</td>
                        <td>{{ click.precedentUrl }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
