{% extends "::base.html.twig" %}

{% block title %}{{ title }}{% endblock %}
{% block titlepage %}{{ title }}{% endblock %}

{% block content %}
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>{% trans %}global.lien{% endtrans %}</th>
            <th>{% trans %}global.slug{% endtrans %}</th>
            <th>{% trans %}global.nbr.click{% endtrans %}</th>
        </tr>
    {% for url in urls %}
        <tr>
            <td>{{ url.id }}</td>
            <td><a href="{{ path("shorty_fiche", {slug:url.slug}) }}">{{ url.lien }}</a></td>
            <td><a href="{{ path("shorty_redirect", {slug:url.slug}) }}" target="_blank">{{ url.slug }}</a></td>
            <td>{{ url.clicks|length }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
