<header>
    <div class="row">
        <div class="col-md-4">
            <h1>MonBundleForum</h1>
        </div>
        <div class="col-md-offset-4 col-md-4">
            {% if is_granted('ROLE_USER') %}
                <span>{{ app.user.username }}</span>
                <a href="{{ path("fos_user_security_logout") }}">Déconnexion</a>
            {% else %}
                {# Call a Route #}
                {# render url('fos_user_security_login') #}
                <a href="{{ path("fos_user_security_login") }}">Connexion</a>
            {% endif %}
        </div>
    </div>
    <nav class="navbar">
        {% set currentPath = app.request.attributes.get('_route') %}
        <ul class="nav nav-pills nav-tabs nav-justified">
            <li {% if currentPath == "gg_team_forum_front_homepage" or category is defined %}class="active"{% endif %}><a href="{{ path("gg_team_forum_front_homepage") }}">Forum</a></li>
            <li {% if currentPath == "gg_team_forum_front_listusers" %}class="active"{% endif %}><a href="{{ path("gg_team_forum_front_listusers") }}">Utilisateurs</a></li>
            {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path("gg_team_forum_back_homepage") }}">Administration</a></li>{% endif %}
        </ul>
    </nav>
</header>